<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../static/partials/head.ejs %>
</head>
<body>
  <% include ../../static/partials/navbar.ejs %>

  <main class="container text-center">
    <h1>Thank You</h1>
    <h5>You are now a premium member</h5>
    <p>We will fully refund if you change your plan within 14 days.</p>
    <a class="btn btn-primary" style="margin-left: 20px"href="/">Back Home</a>
  </main>

  <% include ../../static/partials/baseScripts.ejs %>
</body>
</html>